[Unit]
Description = Lock screen when going to sleep/suspend
Before=sleep.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/betterlockscreen -l dimblur

[Install]
WantedBy=suspend.target
