[Unit]
Description = Lock screen when going to sleep/suspend

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/multilockscreen --lock
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
